<template>
  <div id="todo_details">
    <Header />

    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 align="center">{{ todo.title }}</h1>
          <hr />
          <p align="center">Note: {{ todo.note }}</p>
          <p align="center">Status: {{ todo.status }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
html {
  @import "@/assets/scss/_style.scss";
}
</style>

<script>
import Header from "../components/header";

export default {
  components: {
    Header,
  },
  data() {
    return {
      parent: 0,
      todo: {},
    };
  },
  async created() {
    const id = this.$route.params.id;

    this.todo = await this.$api.get(`todo/${id}/get`).then((r) => r.data.data);
  },
  methods: {},
};
</script>
