<template>
  <div id="todo_udetails">
    <Header />

    <div class="container">
      <h1>Update Todo</h1>
      <div class="card">
        <div class="card-body">
          <form class="p-4" @submit="submitForm">
            <div class="form-group row">
              <label for="exampleInputEmail1" class="col-sm-4 col-form-label"
                >Title:</label
              >
              <div class="col-sm-8">
                <input
                  v-model="todo.title"
                  type="text"
                  required
                  class="form-control"
                  placeholder="Title"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="exampleInputEmail1" class="col-sm-4 col-form-label"
                >Note:</label
              >
              <div class="col-sm-8">
                <input
                  v-model="todo.note"
                  type="text"
                  required
                  class="form-control"
                  placeholder="Your note"
                />
              </div>

              <div class="form-group row">
                <label for="exampleInputEmail1" class="col-sm-6 col-form-label"
                  >Status:</label
                >
                <div class="col-sm-6">
                  <select v-model="todo.status">
                    <option v-for="item in statuses" :value="item">{{
                      item
                    }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12" align="center">
                <button class="btn btn-primary ml-3">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
html {
  @import "@/assets/scss/_style.scss";
}
</style>

<script>
import Header from "../components/header";

export default {
  components: {
    Header,
  },
  data() {
    return {
      todo: {},
      statuses: ["todo", "completed"],
    };
  },
  async created() {
    const id = this.$route.params.id;

    this.todo = await this.$api.get(`todo/${id}/get`).then((r) => r.data.data);
  },
  methods: {
    async submitForm(e) {
      e.preventDefault();

      await this.$api.put(`todo/${this.todo.id}/update`, this.todo);

      this.$router.push({ name: "todos" });
    },
  },
};
</script>
